@import "libs/reset.scss";

$blue: rgb(57, 108, 170);
$pink: #f01799;
$green: #3ca83c;
$darkgray: #424242;

$headerColor: rgba(0,0,0,0.1);

* { box-sizing: border-box !important; }
html, body { font-family: 'Lato', sans-serif; letter-spacing: 1px; background: $darkgray; font-size: 16px;
	.globalCont { text-align: center;
		.headerBack { height: 6rem; line-height:6rem; background: #FFF; position: absolute; width: 100%; top: 0rem; left: 0rem; }
		.header { height: 6rem; line-height:6rem; background: $headerColor; position: fixed; width: 100%; top: 0rem; left: 0rem;
			a.logo { display: inline-block; background: $blue; padding: 0.4rem 1rem; text-decoration: none; border-bottom: 4px solid $pink; vertical-align: middle; line-height: normal;
				.name { color: #FFF; text-decoration: none; font-size: 2rem; }
			}
			.inner { 
				
			}
		}

		.sections { margin-top: 6rem;
			.section {
				
				h4 { color: #FFF; opacity: 0.4; margin-top: 1rem; margin-bottom: 1rem; text-transform: uppercase; } 

				&[data-name="intro"] { background: $pink;
					p { color: #FFF; max-width: 640px; padding: 4rem 1rem; font-size: 2rem; line-height: 2.4rem; display: inline-block; }
				}

				&[data-name="about"] { background: darken($blue, 10%); padding-top: 2rem; padding-bottom: 2rem;
					p { color: #FFF; max-width: 640px; padding: 1rem 1rem; font-size: 1.6rem; font-weight: 300; line-height: 2.4rem; display: inline-block;
						.b { display: inline; font-weight: bold; }
					}
				}

				&[data-name="contact"] { background: $darkgray; height: 40rem; padding-top: 2rem; padding-bottom: 2rem;
					p { color: #FFF; max-width: 640px; margin-top: 1rem; font-size: 1rem; font-weight: 300; line-height: 2rem; display: inline-block; padding: 0rem 1rem;
						.b { display: inline; font-weight: bold; }

						&:nth-child(2) { font-size: 1.8rem; line-height: 2.6rem; }
					}
					form { margin: auto; margin-top: 3rem; width: 100%; max-width: 640px; border-top: 1px solid #333; padding-top: 3rem;
						input, button { vertical-align: top; border: none; height: 4rem; }

						input { padding: 0.6rem 2rem; width: 100%; max-width: 16rem; font-size: 1.2rem; }
						button[type="submit"] { display: inline-block; border: none; font-size: 1.4rem; padding: 0.4rem 2rem; background: $green; color: #FFF;
							&:hover { background: darken($green, 10%); cursor: pointer; } 
						}
					}
				}
			}
		}
	}
}